html { background: white; }
body { background: lightgray; }
.wrapper { 
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: green;
  border-width: 2px;
  border-style: dotted;
  width: 500px; 
  font-family: Helvetica}
h1 {
    margin-bottom: 20px;
    padding: 5px;
    line-height: 1.5;
}
p {
    margin: 10px 0;
    padding: 5px;
    line-height: 1.6;
}
p{ 
   font-family: 'Helvetica', cursive;
}
h2 { font-family: 'Helvetica', cursive; }
h3 { font-family: 'Helvetica', cursive; 
		}

#content {
    float: left;
    background: #FFFFFF;
    width: 850px;
}

#leftcolumn {
    background: #33CCFF;
    width: 150px;
    float: left;
}


